#{extends 'main-sidebar.html' /}
#{set title:'Xuggler Contributor agreement' /}
#{set tab:'licensing' /}
<p>
Here is the Xuggler Contributor agreement.  It is similar in form
to the agreements that the GNU project uses for contributions.  It's
intent is to ensure that your contributions to Xuggler can continue
to be included, regardless of any changes in your organization or
status years from now.
</p>
<p>
<a href="@{'public/other/xuggle_contributor_agreement_v1.0.txt'}">
Downloadable Version</a>
</p>
<pre>
#{ include 'public/other/xuggle_contributor_agreement_v1.0.txt' /}

</pre> 
