#{extends 'main-sidebar.html' /}
#{set title:'Demos' /}
#{set tab:'demos' /}
<div id="content" class="column">
<p>When you install Xuggler we also install a collection of
demonstration applications. To see how to use them watch the tutorials,
or see the documentation for the <code>com.xuggle.xuggler.demos</code>
package. There you can find demos and source code that show you how to:
</p>
<ul>
  <li>Decode any video format and display the video on screen.</li>
  <li>Decode any audio format and display the audio on screen.</li>
  <li>Decode any video format and create thumbnail images.</li>
  <li>Use Java to take snap-shots of your desktop as you work and
  create a video file.</li>
  <li>A basic application for converting media files in one format
  into pretty much any other format.</li>
</ul>
</div>