#{extends 'main-sidebar.html' /}
#{set title:'Licensing' /}
#{set tab:'licensing' /}
<img src="http://www.gnu.org/graphics/gplv3-127x51.png"><img>
<p>
Xuggler pre-compiled Jar files are compiled and distributed under the <a href="http://www.gnu.org/copyleft/gpl.html">GPL Version 3</a> license.  This is required given that the pre-compiled version
distributes <a href="http://www.videolan.org/developers/x264.html">X264</a> for H264 video encoding.
</p>
<img src="http://www.gnu.org/graphics/lgplv3-147x51.png"></img>
<p>
For users who cannot use the GPL, Xuggler's source code is distributed under the <a href="http://www.gnu.org/copyleft/lesser.html">LGPL Version 3</a>.  That means you can create a LGPL-only version of
Xuggler if you follow these steps:
<ol>
<li>Download the Xuggler source code</li>
<li>Build your own, non GPL, version of the Jar files</li>
<li>Distribute those jars.</li>
</ol>
</p>
<p>
By the way, Xuggler comes with no support or warranty (hey, you get what you pay for).  Enjoy!  If you have
any troubles, please see the Support tab for how to get assistance from
the community.</p>