#{extends 'main-sidebar.html' /}
#{set title:'Xuggler Red5 Integration' /}
#{set tab:'red5' /}
<h1>WARNING</h1>
<p>
As of Xuggler 3.4, Xuggler has native RTMP support built in.  You can
read to and write to RTMP urls using the <code>IContainer</code> interface.
</p>
<p>
<strong>As a result we are deprecating this API.</strong></p>
<p>This API relies on internals of Red5 that are not part of the Red5 public
API.  Also, given the state of Red5, even the public API changes and breaks
backwards compatibility frequently since Red5 doesn't worry about maintaining
backwards compatibility.  To decouple Xuggler completely, and to enable
it to work with any other RTMP server (e.g. Adobe FMS, Wowza Media, or RTMPServer),
we're focusing on RTMP itself as the interface.</p>
<h2>About</h2>
<p>By default Red5 doesn't know about Xuggler and Xuggler doesn't
know about Red5. To bridge that gap..</p>
<p>...the Xuggler Red5 Adapater enables you to write Red5
applications that intercept live and canned audio and video streams, and
decode, manipulate, and re-encode those streams on the fly using
Xuggler.</p>
<p>In order to use this with Red5 you <strong>must already
have installed Xuggler on your Red5 server</strong> machine first.</p>
<h2>Official Releases</h2>
<p>The xuggle-xuggler-red5 library is a java-only library that uses
the xuggle-xuggler library.</p>
<p>The release consists of one jar file with the core code, and two
WAR files (audiotranscoder and videotranscoder) that are demonstration
apps that can be deployed inside a Red5 server. We maintain an ivy
repository, and these files are located there.</p>
<table class="relTable" cellspacing="0">
  <thead>
    <tr>
      <th id="col1">OS</th>
      <th id="col2">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><img
        src="http://upload.wikimedia.org/wikipedia/en/b/b7/Windows_logo.svg"
        height="50" alt="Windows" /> <br />
      Windows Vista or XP 32 bit</th>
      <td rowspan="3"><a
        href="http://xuggle.googlecode.com/svn/trunk/repo/share/java/xuggle/xuggle-xuggler-red5/">
      Ivy Downloads</a></td>
    </tr>
    <tr>
      <th><img
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/150px-Tux.svg"
        alt="Linux" height="50" /> <br />
      Linux</th>
    </tr>
    <tr>
      <th><img
        src="http://upload.wikimedia.org/wikipedia/en/d/db/OSXLeopard.svg"
        alt="OS-X" height="50" /> <br />
      Mac OS-X</th>
    </tr>
  </tbody>
</table>

<h2>How To Install Xuggler on your Red5 Server</h2>
<ol>
  <li>
  Install
  #{a @Xuggler.downloads() } Xuggler #{/a}
   on your machine, and restart your machine if Windows</li>
  <li>Install the latest <a
    href="http://build.xuggle.com/view/Stable/job/red5_jdk5_stable/">Red5
  Stable Build</a> (you need Red5 0.8 or higher).</li>
  <li>Copy <code>%XUGGLE_HOME%\share\java\jars\xuggle-xuggler.jar</code>
  to <code>%RED5_HOME%\lib</code></li>
  <li>Copy <code>%XUGGLE_HOME%\share\java\jars\commons-cli.jar</code>
  to <code>%RED5_HOME%\lib</code></li>
</ol>

<h2>How to Run the Demos</h2>
<ol>
  <li>Install the Xuggler Into Red5 (see above)</li>
  <li>Copy the <code>.war</code> files you downloaded into
  <code>%RED5_HOME%\webapps</code>.</li>
  <li>Start Red5 by running <code>$RED5_HOME/red5.sh</code> on
  Linux/Mac or <code>%RED5_HOME%\red5.bat</code> on Windows</li>
</ol>
<p>To run the demo here's the basic steps (assuming Red5 is
installed on localhost):</p>
<ol>
  <li>connect to <a
    href="http://localhost:5080/demos/publisher.html">
  http://localhost:5080/demos/publisher.html </a></li>
  <li>Change the rtmp box to read: <code>rtmp://localhost/videotranscoder</code></li>
  <li>Change the buffer time to 0</li>
  <li>Press Connect and verify you are connected</li>
  <li>Go to the Video Tab and enable your camera.</li>
  <li>Fill in "example" for the stream name and press publish</li>
  <li>Go to the Server tab again, and in the stream name box enter
  "example", and press Play</li>
  <li>You should now just see your original stream rebroadcasted.</li>
  <li>Now, press Stop, and enter "xuggle_example" for the stream
  name, and press play</li>
  <li>You should see your camera, but mirrored down the middle</li>
</ol>
If you run into an error, try this:
<ol>
  <li>Make sure all Xuggler environment variables are set up as per
  the Xuggler download instructions.</li>
  <li>Ensure that a version of xuggle-xuggler.jar exists in <code>$RED5_HOME/lib</code>.
  If it doesn't, copy <code>$XUGGLE_HOME/share/java/jars/xuggle-xuggler.jar</code>
  to <code>$RED5_HOME/lib/</code>.</li>
</ol>
<h2>Documentation</h2>
<p>See the <a
  href="http://build.xuggle.com/job/xuggle_java_xuggler_red5_jdk5_i386_ubuntu/javadoc/java/api/index.html">Red5
Adapter documentation</a> for how that works.</p>
&nbsp;
<p>Also, Antoni Jubiak put together a <a
  href="http://en.jakubiak.info/2009/02/02/how-to-start-xuggle-at-red5.html">great
tutorial</a> on how to get this working.</p>
<h2>Getting the Latest Source Code</h2>
If you want to get the very latest, tip of tree (with all the advantages
and disadvantages that entails):
<pre>
svn checkout \
  http://xuggle.googlecode.com/svn/trunk/java/xuggle-xuggler-red5 \
  xuggle-xuggler-red5
</pre>
