<h1>
      Prior Releases
</h1>
<p>
This page has prior releases still available for download.
</p>
<h2>
3.3.FINAL
</h2>
<table class="relInfo" cellspacing="0">
  <tr>
    <th colspan="2" class="releaseHiLite">Release</th>
  </tr>
  <tr>
    <th>Version</th>
    <td><a href="3.3.final.jsp">Xuggler LGPL 3.3 -
    &quot;Eliza&quot;</a></td>

  </tr>
  <tr>
    <th>Date</th>
    <td>21-October-2009</td>
  </tr>
  <tr>
    <th>Description</th>

    <td>
    <p>&quot;Eliza&quot; has big upgrades on our H264 encoder
    and Theora encoder.  Also with 3.3, we're changing our
    license back to LGPL.</p>
    <p>For details, the <a href="3.3.final.jsp"> release notes
    are here. </a></p>
    <p>If you experience any issues, please let us know by joining
    the <a href="http://groups.google.com/group/xuggler-users">Xuggler
    Users</a> group and dropping us a line.</p>
    </td>
  </tr>
  <tr>
    <th>License</th>
    <td><a
      href="<%=request.getContextPath() + "/xuggler/licensing"%>">
    LGPL v3</a></td>
  </tr>
</table>
<table style="vertical-align: middle" class="relTable" border="1">
  <thead>
    <tr>
      <th colspan="2" id="col1">OS</th>
      <th id="col2">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="vertical-align: :middle"><img
        src="http://upload.wikimedia.org/wikipedia/en/thumb/b/b7/Windows_logo.svg/250px-Windows_logo.svg.png"
        height="50" alt="Windows" /><br />
      Windows Vista or XP</th>
      <td style="vertical-align: :middle">32 Bit, Java 1.5 or later</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.3.FINAL/xuggle-xuggler.3.3.940-win32-setup.exe">xuggle-xuggler-setup.exe</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle" rowspan="2"><img
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/150px-Tux.svg.png"
        height="50" /><br />
      Linux</th>
      <td style="vertical-align: :middle">32 Bit, Java 1.5 or later</td>

      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.3.FINAL/xuggle-xuggler.3.3.940-i686-pc-linux-gnu.sh">xuggle-xuggler-i386-linux.sh</a></td>
        </tr>
    <tr>
      <td style="vertical-align: :middle">64 Bit, Java 1.5 or later</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.3.FINAL/xuggle-xuggler.3.3.940-x86_64-unknown-linux-gnu.sh">xuggle-xuggler-x86_64-linux.sh</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle"><img
        src="http://upload.wikimedia.org/wikipedia/en/b/b6/OSXLeopard.png"
        height="50" /><br />
      Mac OS-X 10.5 or higher</th>
      <td style="vertical-align: :middle">64-Bit, Java 1.6</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.3.FINAL/xuggle-xuggler.3.3.940-i386-apple-darwin9.8.0.sh">xuggle-xuggler-apple-darwin9.8.0.sh</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle">Source Code</th>
      <td colspan="2" style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.3.FINAL/xuggle-xuggler.3.3.940-src.tar.gz">xuggle-xuggler.3.3.940-src.tar.gz</a></td>
    </tr>
  </tbody>
</table>

<h2>
3.2.FINAL</h2>
<table class="relInfo" cellspacing="0">
  <tr>
    <th colspan="2" class="releaseHiLite">Release</th>
  </tr>
  <tr>
    <th>Version</th>
    <td><a href="3.2.final.jsp">Xuggler AGPL 3.2 -
    &quot;Dalton&quot;</a></td>

  </tr>
  <tr>
    <th>Date</th>
    <td>19-August-2009</td>
  </tr>
  <tr>
    <th>Description</th>

    <td>
    <p>&quot;Dalton&quot; is a performance and bug-fix release.  Here
    are the highlights:</p>
    <ul>
      <li>Getting and retrieving <code>IBuffer</code> objects from
      Xuggler audio, video or packet data is now much faster.</li>

      <li>More memory allocation speed ups, especially in
      multi-threaded scenarios.</li>
      <li>Xuggler now uses much less memory for <code>IAudioSamples</code>
      objects when you're just encoding data.</li>
      <li><code>IBuffer</code> objects now have meta-data telling
      you what type of bytes (e.g. int, short, long) the <code>IBuffer</code>
      thinks it's pointing to.</li>

      <li>As usual, this release comes integrated with the very
      latest <a href="http://www.ffmpeg.org/">FFmpeg</a> release.</li>
    </ul>
    <p>For details, the <a href="3.2.final.jsp"> release notes
    are here. </a></p>
    <p>If you experience any issues, please let us know by joining
    the <a href="http://groups.google.com/group/xuggler-users">Xuggler
    Users</a> group and dropping us a line.</p>
    </td>
  </tr>
  <tr>
    <th>License</th>
    <td><a
      href="<%=request.getContextPath() + "/xuggler/licensing"%>">
    LGPL v3</a></td>
  </tr>
</table>
<table style="vertical-align: middle" class="relTable" border="1">
  <thead>
    <tr>
      <th colspan="2" id="col1">OS</th>
      <th id="col2">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="vertical-align: :middle"><img
        src="http://upload.wikimedia.org/wikipedia/en/thumb/b/b7/Windows_logo.svg/250px-Windows_logo.svg.png"
        height="50" alt="Windows" /><br />
      Windows Vista or XP</th>
      <td style="vertical-align: :middle">32 Bit, Java 1.5 or later</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.2.FINAL/xuggle-xuggler.3.2.879-win32-setup.exe">xuggle-xuggler-setup.exe</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle" rowspan="2"><img
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/150px-Tux.svg.png"
        height="50" /><br />
      Linux</th>
      <td style="vertical-align: :middle">32 Bit, Java 1.5 or later</td>

      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.2.FINAL/xuggle-xuggler.3.2.879-i686-pc-linux-gnu.sh">xuggle-xuggler-i386-linux.sh</a></td>
        </tr>
    <tr>
      <td style="vertical-align: :middle">64 Bit, Java 1.5 or later</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.2.FINAL/xuggle-xuggler.3.2.879-x86_64-unknown-linux-gnu.sh">xuggle-xuggler-x86_64-linux.sh</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle"><img
        src="http://upload.wikimedia.org/wikipedia/en/b/b6/OSXLeopard.png"
        height="50" /><br />
      Mac OS-X 10.5 or higher</th>
      <td style="vertical-align: :middle">64-Bit, Java 1.6</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.2.FINAL/xuggle-xuggler.3.2.879-i386-apple-darwin9.8.0.sh">xuggle-xuggler-apple-darwin9.8.0.sh</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle">Source Code</th>
      <td colspan="2" style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.2.FINAL/xuggle-xuggler.3.2.879-src.tar.gz">xuggle-xuggler.3.2.879-src.tar.gz</a></td>
    </tr>
  </tbody>
</table>

<h2>
3.1.FINAL
</h2>
<table class="relInfo" cellspacing="0">
  <tr>
    <th colspan="2" class="releaseHiLite">Release</th>
  </tr>
  <tr>
    <th>Version</th>
    <td><a href="3.1.final.jsp">Xuggler AGPL 3.1 -
    &quot;Chloe&quot;</a></td>

  </tr>
  <tr>
    <th>Date</th>
    <td>12-July-2009</td>
  </tr>
  <tr>
    <th>Description</th>

    <td>
    <p>Here are some of &quot;Chloe's&quot; highlights:</p>
    <ul>
      <li><a
        href="<%=request.getContextPath() + "/xuggler/licensing"%>">Xuggler
      Professional</a> licensing terms are now complete and published.</li>
      <li>Installers for Linux &amp; Mac users -- no more long
      builds.</li>
      <li>Support for encoding Speex and Vorbis audio and Theora
      video.</li>
      <li>Support for getting and setting MetaData on files like
      MP3.</li>
      <li>Support for generating SDP descriptors for RTSP streams.</li>
      <li>Support for creating <code>IVideoPicture</code> and <code>IAudioSamples</code>
      directly from memory-mapped files.</li>
    </ul>
    <p>For details, the <a href="3.1.final.jsp"> release notes
    are here. </a></p>
    <p>If you experience any issues, please let us know by joining
    the <a href="http://groups.google.com/group/xuggler-users">Xuggler
    Users</a> group and dropping us a line.</p>
    </td>
  </tr>
  <tr>
    <th>License</th>
    <td><a
      href="<%=request.getContextPath() + "/xuggler/licensing"%>">GNU
    AGPL v3</a></td>
  </tr>
</table>
<table style="vertical-align: middle" class="relTable" border="1">
  <thead>
    <tr>
      <th colspan="2" id="col1">OS</th>
      <th id="col2">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="vertical-align: :middle"><img
        src="http://upload.wikimedia.org/wikipedia/en/thumb/b/b7/Windows_logo.svg/250px-Windows_logo.svg.png"
        height="50" alt="Windows" /><br />
      Windows Vista or XP</th>
      <td style="vertical-align: :middle">32 Bit, Java 1.5 or later</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.1.FINAL/xuggle-xuggler.3.1.818-win32-setup.exe">xuggle-xuggler-setup.exe</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle" rowspan="2"><img
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/150px-Tux.svg.png"
        height="50" /><br />
      Linux</th>
      <td style="vertical-align: :middle">32 Bit, Java 1.5 or later</td>

      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.1.FINAL/xuggle-xuggler.3.1.818-i686-pc-linux-gnu.sh">xuggle-xuggler-i386-linux.sh</a></td>
        </tr>
    <tr>
      <td style="vertical-align: :middle">64 Bit, Java 1.5 or later</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.1.FINAL/xuggle-xuggler.3.1.818-x86_64-unknown-linux-gnu.sh">xuggle-xuggler-x86_64-linux.sh</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle"><img
        src="http://upload.wikimedia.org/wikipedia/en/b/b6/OSXLeopard.png"
        height="50" /><br />
      Mac OS-X 10.5 or higher</th>
      <td style="vertical-align: :middle">64-Bit, Java 1.6</td>
      <td style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.1.FINAL/xuggle-xuggler.3.1.818-i386-apple-darwin9.7.0.sh">xuggle-xuggler-apple-darwin9.7.0.sh</a></td>
    </tr>
    <tr>
      <th style="vertical-align: :middle">Source Code</th>
      <td colspan="2" style="vertical-align: :middle"><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.1.FINAL/xuggle-xuggler.3.1.818-src.tar.gz">xuggle-xuggler.3.1.818-src.tar.gz</a></td>
    </tr>
  </tbody>
</table>
<h2>
3.0.FINAL
</h2>
<table class="relInfo" cellspacing="0">
  <tr>
    <th colspan="2" class="releaseHiLite">Release</th>
  </tr>
  <tr>
    <th>Version</th>
    <td>3.0.660.FINAL: &quot;Ben&quot;</td>

  </tr>
  <tr>
    <th>Date</th>
    <td>06-05-2009</td>
  </tr>
  <tr>
    <th>Description</th>

    <td>
    <p><a href="3.0.final.jsp">Xuggler 3.0 - &quot;Ben&quot;</a></p>
    <p>Here are some of &quot;Ben's&quot; highlights:</p>
  <ul>
  <li><p>A simpler API for decoding <i>and encoding</i>: <strong>MediaTool</strong>.  See the
  <a href="http://blog.xuggle.com/2009/06/05/introduction-to-xuggler-mediatools/">new tutorials</a>, but we think it rocks.</p></li>
  <li><p>New MemoryModel technology that can
  speed up Xuggler programs by <strong>over 40%</strong>.
  </p>
  </li>
  <li><p>Improved scaling for multi-threaded programs,
  including the ability to <strong>interrupt blocking calls</strong>.</p></li>
  <li><p>Seamless <strong>Java IO</strong> support (e.g. <code>InputStream</code>,
  and <code>OutputStream</code>).</p></li>
  <li><p>A simpler API for getting access to video, audio and packet memory.</p></li>
  <li><p>The ability to query which
  codecs can be encoded into which containers.</p></li>
  <li><p>... and lots more!</p></li>
</ul>
    <p>For details, the <a href="3.0.final.jsp"> release
    notes are here. </a></p>
    <p>If you experience any issues, please let us know by joining
    the <a href="http://groups.google.com/group/xuggler-users">Xuggler
    Users</a> group and dropping us a line.</p>
    </td>
  </tr>

</table>
<table class="relTable" cellspacing="0">
  <thead>
    <tr>
      <th id="col1">OS</th>
      <th id="col2">Download</th>
      <th id="col3">Install Instructions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><img
        src="http://upload.wikimedia.org/wikipedia/en/e/e0/Windows_logo.png"
        height="50" alt="Windows" /><br />
      Windows Vista or XP 32 bit</th>
      <td><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.0.FINAL/win32/setup-3.0.660.exe">setup-3.0.660.exe</a></td>
      <td>Run the installer and reboot.</td>
    </tr>
    <tr>
      <th><img
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/150px-Tux.svg.png"
        height="50" /><br />
      Linux</th>
      <td><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.0.FINAL/src/xuggler-3.0.tar.gz">xuggler-3.0.tar.gz</a></td>
      <td>Untar and <a href="build.jsp">build from source</a>.</td>
    </tr>
    <tr>
      <th><img
        src="http://upload.wikimedia.org/wikipedia/en/b/b6/OSXLeopard.png"
        height="50" /><br />
      Mac OS-X</th>
      <td><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.0.FINAL/src/xuggler-3.0.tar.gz">xuggler-3.0.tar.gz</a></td>
      <td>Untar and <a href="build.jsp">build from source</a>.</td>
    </tr>
    <tr>
      <th>Source Code</th>
      <td><a
        href="http://com.xuggle.s3.amazonaws.com/xuggler/xuggler-3.0.FINAL/src/xuggler-3.0.tar.gz">xuggler-3.0.tar.gz</a></td>
      <td>Untar and <a href="build.jsp">build from source</a>.</td>
    </tr>
  </tbody>
</table>
