#{extends 'main-nosidebar.html' /}
#{set title:'Xuggle' /}

<div id="definition"><b>xu‧ggle</b> (zŭ' gl) <i>v.</i> To
freely encode, decode, and experience audio and video.</div>

<div id="enter" style="text-align: center;"><br />
<a href="@{ Xuggler.index }"> <img
  alt="Get Xuggler &#187;"
  src="@{'public/images/xuggler-button-207x80.png'}" />
</a> <br />
A free open-source library for Java developers to uncompress,
manipulate, and compress recorded or live video in real time. <br />
<p>&nbsp;</p>

</div>

<div id="teaser" style="text-align: center">
<p>
<object width="320" height="197">
  <param name="movie"
    value="http://www.youtube.com/v/0EvQW94JuJ0&fmt=18&hl=en&fs=1"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="http://www.youtube.com/v/0EvQW94JuJ0&fmt=18&hl=en&fs=1"
    type="application/x-shockwave-flash" allowscriptaccess="always"
    allowfullscreen="true" width="320" height="197"></embed></object> <br />
</p>

</div>
