<div id="footer">
  <ul>
    <li><a href="@{Application.index}">home</a></li>
    <li><a href="${play.ctxPath}/about/">about</a></li>
    <li><a href="http://blog.xuggle.com/">blog</a></li>
    <li><a href="http://twitter.com/xuggle">twitter</a></li>
    <li><a href="http://wiki.xuggle.com/">wiki</a></li>
  </ul>
  <p>Copyright &copy; 2011 and All Rights Reserved by <a href="http://www.connectsolutions.com/">ConnectSolutions, LLC</a>.</p>
  <p>&nbsp;</p>
  <p><a href="http://www.connectsolutions.com/"><img src="${play.ctxPath}/public/images/sponsored-by.png"></img></a></p>
  <p>
  <script type="text/javascript" src="http://www.ohloh.net/p/264758/widgets/project_users_logo.js"></script>
  </p>
  
  
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6904263-1");
pageTracker._trackPageview();
} catch(err) {}</script>
