<div id="sideBar" class="column">
    <ul>
      <li id="tab1">
        #{a @Xuggler.index() }About #{/a}
      </li>
      <li id="tab3">
        #{a @Xuggler.downloads() }Downloads#{/a}
      </li>
      <li id="tab9">
        #{a @Xuggler.demos() }Demos#{/a}
      </li>
      <li id="tab5">
        #{a @Xuggler.tutorials() }Tutorials#{/a}
      </li>
      <li id="tab10">
        #{a @Xuggler.licensing() }Licensing#{/a}
      </li>
      <li id="tab4">
        #{a @Xuggler.faq() }FAQ#{/a}
      </li>
      <li id="tab6">
        #{a @Xuggler.documentation() }Documentation#{/a}
      </li>
      <li id="tab7">
        #{a @Xuggler.support() }Support#{/a}
      </li>
      <li id="tab8">
        #{a @Xuggler.status() }Status#{/a}
      </li>
    </ul>
    </div>
